h1 {
    color: rgb(216, 111, 169);
    text-align: center;
}

p {
    color: white;
    text-align: center;
}
.btn {
    background-color: rebeccapurple;
    margin-left: 47%;
    
}

h2 {
    color: rgb(216, 111, 169);
    text-align: center;
}